<div class="panel panel-default">
	<div class="panel-heading">Quest</div>
	<div class="list-group">
		<a href="{{ site_url() }}quest-baru" class="list-group-item">Buat Baru</a>
		<a href="{{ site_url() }}quest-selesai" class="list-group-item">Quest Selesai</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Penukaran Koin</div>
	<div class="list-group">
		<a href="{{ site_url() }}tambah-hadiah" class="list-group-item">Tambah Hadiah</a>
		<a href="{{ site_url() }}edit-hadiah" class="list-group-item">Edit Hadiah</a>
		<a href="{{ site_url() }}tukar-koin" class="list-group-item">Tukar Koin</a>
		<a href="{{ site_url() }}koin-terpakai" class="list-group-item">Koin Terpakai</a>
	</div>
</div>
